<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style_iframe.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon512.png" type="image/png" />
  </head>
  <body>
    <div>
      <a href="<%=short_url%>" target="_blank"> <%= short_url %></a>
      <p><%= advice %></p>
    </div>
  </body>
</html>
