a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #fafafc;
  font-size: large;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  text-align: center;
  color: #fafafc;
}

div {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}
